#root {
  /* max-width: 1280px; */
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.linkButton {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 80%;
  left: 50%;

  transform: translateX(-50%);
}

.Page {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  height: 100vh;
  width: 100vw;
}

#year-link,
#month-link {
  display: flex;
  flex-direction: row;
}
