:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}
.Link {
  color: rgb(150, 150, 150);
  font-size: 14px;
  font-weight: 400;

  transition: color 0.2s;
  user-select: none;

  /* z-index: 1; */
}

.Link:hover {
  /* background-color: rgb(180, 180, 180); */
  color: rgb(200, 200, 200);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.valid-input-container {
  position: relative;
  margin-bottom: 1rem;
}

.valid-input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(200, 200, 200);
}

.valid-input:focus {
  outline: none;
}

.valid-input:focus ~ .valid-label {
  color: blue;
  /* bottom: -16px; */
  transform: translateY(16px);
}
.valid-label {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  /* font-weight: 500; */
  transition: color 0.2s, transform 0.2s;
}

.error-label {
  color: red;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(16px);
}
.backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2000;
  /* background-color: #242424; */
}
