.timePoleDisplayContainer {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.timepole,
.animatedTimePole {
  height: 100px;
  width: 1px;
  border-left: 1px solid rgb(200, 200, 200);
  /* position: absolute; */
  /* background-color: rgb(200, 200, 200); */
  /* margin: 2px; */
}
.animatedTimePole {
  height: 1px;
  position: absolute;
  /* transform: scale(px); */
}
.timepoleLine {
  transition: y2 0.5s ease;
}
.timePoleMarkerContainer {
  position: absolute;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* background-color: aqua; */

  width: 1px;
  /* transform: //translateX(-50%); */
  /* max-width: 100px; */
}

.textContainer {
  border-radius: 5px;
  text-align: center;
  user-select: none;

  transition: background-color 0.1s linear;

  position: absolute;
  top: -50%;

  /* max-width: 1000px; */
  z-index: 100;
  /* transform: translateY(-100px); */
}

.textBubble {
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.textContainer:hover,
.timepole:hover + .textContainer {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  color: black;
}

.timepole:hover {
  cursor: pointer;
}

.textContainer:hover .poleDate {
  opacity: 100%;
}
.poleDate {
  position: absolute;

  font-size: 12px;

  opacity: 0%;

  transition: opacity ease 0.3s;
  white-space: nowrap;

  color: rgb(100, 100, 100);
  /* top: -100%; */
}
