.Timeline {
  height: 2px;
  width: 100%;

  position: absolute;
  top: 50%;

  z-index: 100;
  /* pointer-events: none; */
}

.TimelineCover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: rgb(150, 150, 150);
  z-index: 100;
}

.MonthAbbr {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  pointer-events: all;
  user-select: none;
  color: rgb(150, 150, 150);

  transition: color ease 0.2s;
}
.MonthAbbr p {
  font-size: 12px;
  padding: 0%;
  margin: 0%;
}

.MonthAbbr:hover {
  /* background-color: rgb(235, 235, 235); */
  cursor: pointer;
  color: rgb(50, 50, 50);
}

.Markers {
  height: 15px;
  width: 2px;
  background-color: rgb(150, 150, 150);
  position: absolute;

  pointer-events: none;
  /* user-select: none; */
}

.DateMarkerContainer {
  height: 2px;
  width: 100%;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.MarkerWeek {
  position: absolute;
  left: 10px;
  height: 12px;
  width: 1px;
  background-color: rgb(175, 175, 175);
  z-index: 1;
  pointer-events: none;
}

.MarkerDay {
  pointer-events: none;
  position: absolute;
  left: 10px;
  height: 10px;
  width: 1px;
  background-color: rgb(200, 200, 200);
  z-index: 1;
}

.TimelineCard {
  height: 2px;
  width: 90%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
