.ViewTimelineContainer {
  border-radius: 5px;
  height: 5rem;
  width: 90%;
  /* background-color: rgb(230, 230, 230); */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;

  z-index: 1000;
  user-select: none;
  pointer-events: none;
}

.OriginMarker {
  width: 100%;
  position: absolute;

  /* /* right: 50%; */
  top: 50%;

  /* transform: translateX(10%); */
}

.Marker {
  width: 2px;
  height: 10px;
  background-color: black;
}
