.ViewTimelineContainer {
  border-radius: 5px;
  height: 5rem;
  width: 90%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
}

.OriginMarker {
  width: 100%;
  position: absolute;

  top: 50%;
}

.Marker {
  width: 2px;
  height: 10px;
  background-color: black;
}
