.month {
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  z-index: 100;
}

.month:hover {
  cursor: pointer;
}

.monthLine {
  height: 100%;
  width: 2px;
  background-color: rgb(150, 150, 150);

  z-index: 100;
}

.monthLine {
  height: 100%;
  width: 2px;
  background-color: rgb(150, 150, 150);

  z-index: 100;
}

.monthAbrContainer {
  position: absolute;
  height: 40px;
  display: flex;
}
.monthAbrContainer:hover {
  cursor: pointer;
}
.monthAbrContainer p {
  margin: 0;
  font-size: 12px;
  opacity: 30%;
  transition: opacity 0.3s;
  user-select: none;
}

.weekLineContainer {
  display: flex;
  align-items: center;
  gap: 25%;

  width: 100%;
  height: 100%;

  position: absolute;
}

.weekLine {
  height: 10px;
  width: 1px;
  background-color: rgb(200, 200, 200);
  /* transform: translateY(100%); */
}

.monthViewDiv {
  width: 5%;
  height: 30px;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
#current {
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: -100px; */
  /* position: absolute; */
  /* transform: translateY(100%); */
}
/* .monthViewDiv:hover {
  background-color: rgb(240, 240, 240);
} */
.timeLineMonthContainer {
  width: 100%;
  height: 100%;

  display: flex;
  position: absolute;
  /* gap: 2px; */
}

/* week marker */
.weekMarker {
  position: absolute;
  height: 10px;
  width: 1px;
  background-color: rgb(200, 200, 200);
  /* z-index: 10; */
  pointer-events: none;
}

.weekMarkerContainer {
  display: flex;
  align-items: center;
  /* gap: 4%; */

  width: 100%;
  height: 100%;

  /* background-color: red; */
  position: relative;
}

.createTimelineCard {
  position: absolute;
  width: 100%;
}

.mainView {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* height: 10px;
  background-color: antiquewhite; */
  /* left: 0; */
}
