.container {
  background-color: transparent;
  height: 30px;

  transform: translateY(-48%);
  transition: background-color 0.2s ease;

  position: relative;
}
.container:hover {
  background-color: rgb(220, 220, 220, 0.3);
  cursor: pointer;
}

.container:hover .monthAbr p {
  opacity: 80%;
}
.month {
  height: 100%;
  display: flex;
  flex-direction: column;

  position: absolute;
}

.monthLine {
  height: 15px;
  width: 2px;
  background-color: rgb(150, 150, 150);

  z-index: 100;
}

.monthAbr {
  position: absolute;
  left: 0%;
}
.monthAbrContainer {
  position: absolute;
  height: 30px;
  display: flex;
  /* width: 20px; */
}
.monthAbrContainer p {
  margin: 0;
  font-size: 12px;
  opacity: 30%;
  transition: opacity 0.3s;
  user-select: none;
}
.weekLineContainer {
  display: flex;
  width: 100%;
  gap: 25%;

  position: absolute;
}
.weekLine {
  height: 10px;
  width: 1px;
  background-color: rgb(200, 200, 200);
  transform: translateY(100%);
}
