.timeLineMonthContainer {
  width: 100%;
  height: 100%;

  display: flex;
  gap: 2px;
}

.extentionContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 0px;

  transition: width ease 0.2s;

  transform: translateY(-50%);
}
.extentionContainer:hover .container {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

.extentionContainer:hover {
  cursor: pointer;
}

.container {
  background-color: transparent;
  height: 30px;

  transform: translateY(-50%);
  transition: background-color 0.2s ease;
  position: relative;
}

.month {
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.month:hover {
  cursor: pointer;
}

.monthLine {
  height: 100%;
  width: 2px;
  background-color: rgb(150, 150, 150);

  z-index: 100;
}

.monthAbrContainer {
  position: absolute;
  height: 40px;
  display: flex;
}
.monthAbrContainer:hover {
  cursor: pointer;
}
.monthAbrContainer p {
  margin: 0;
  font-size: 12px;
  opacity: 30%;
  transition: opacity 0.3s;
  user-select: none;
}

.weekLineContainer {
  display: flex;
  align-items: center;
  gap: 25%;

  width: 100%;
  height: 100%;

  position: absolute;
}

.weekLine {
  height: 10px;
  width: 1px;
  background-color: rgb(200, 200, 200);
  /* transform: translateY(100%); */
}

.monthViewDiv {
  width: 5%;
  height: 30px;
  background-color: rgb(150, 150, 150, 0.2);
  transform: translateY(-50%);
}
